@charset "ISO-8859-1";

form {
  border: 3px solid black;
}

/* Full-width inputs */
input {
  padding: 7px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

td{
	align-items: initial;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}